* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --accent-1: #ec53be;
    --accent-1-lighter: #ec53be31;
    --accent-2: #f897db;
}

body {
    font-family: "lato";
    background-color: black;
    height: 100%;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

h1, h2, h4, p {
    color: white;
}

h1:hover, h2:hover, h4:hover, p:hover {
    color: var(--accent-2);
}

body p.para {
    max-width: 50%;
    margin: 0 auto;
}